configuration {
  sidebar-mode:  true;
  hide-scrollbar: true;
  kb-cancel: "Escape,Control+bracketleft";
  kb-mode-previous: "Alt+u";
  kb-mode-next: "Alt+i";
  font: "Migu 1C Regular";
}
@theme "~/.config/rofi/slate.rasi"
