[user]
	email = s.minegishi@mail.mine-313.com
	name = Syota Minegishi
[core]
	quotepath = false
    editor = nvim 
	precomposeunicode = true
[credential]
	helper = cache
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
