[user]
  email = syota@mine-313.com
  name = Syota Minegishi
  signingkey = 20339E01EA12A4E5
[core]
  quotepath = false
  editor = nvim
  precomposeunicode = true
[credential]
  helper = cache
[gpg]
  program = /usr/bin/gpg
[commit]
  gpgsign = true
[color]
  ui = true

[ghq "git@git.mine-313.com:sophia/"]
  vcs = git
  root = ~/sophia
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
