[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm

[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons

[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git

[submodule "home/.tmux/plugins/iceberg-dark"]
	path = home/.tmux/plugins/iceberg-dark
	url = https://github.com/gkeep/iceberg-dark

[submodule "home/.tmux/plugins/tmux-onedark-theme"]
	path = home/.tmux/plugins/tmux-onedark-theme
	url = https://github.com/odedlaz/tmux-onedark-theme
